apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: gcppubsubsources.sources.eventing.knative.dev
spec:
  group: sources.eventing.knative.dev
  names:
    categories:
    - all
    - knative
    - eventing
    - sources
    kind: GcpPubSubSource
    plural: gcppubsubsources
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            gcpCredsSecret:
              type: object
            googleCloudProject:
              type: string
            serviceAccountName:
              type: string
            sink:
              type: object
            topic:
              type: string
          type: object
        status:
          properties:
            conditions:
              items:
                properties:
                  lastTransitionTime:
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
                  severity:
                    type: string
                  status:
                    type: string
                  type:
                    type: string
                required:
                - type
                - status
                type: object
              type: array
            sinkUri:
              type: string
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gcppubsub
  namespace: knative-sources
secrets:
- name: gcppubsub-source-key
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: gcppubsub-controller-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - sources.eventing.knative.dev
  resources:
  - gcppubsubsources
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - sources.eventing.knative.dev
  resources:
  - gcppubsubsources/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - eventing.knative.dev
  resources:
  - channels
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - serving.knative.dev
  resources:
  - services
  - routes
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  name: gcppubsub-controller-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gcppubsub-controller-role
subjects:
- kind: ServiceAccount
  name: gcppubsub
  namespace: knative-sources
---
apiVersion: v1
data:
  key.json: ""
kind: Secret
metadata:
  name: gcppubsub-source-key
  namespace: knative-sources
type: Opaque
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: gcppubsub-controller
  name: gcppubsub-controller-service
  namespace: knative-sources
spec:
  ports:
  - port: 443
  selector:
    control-plane: gcppubsub-controller
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    control-plane: gcpubsub-controller
  name: gcppubsub-controller
  namespace: knative-sources
spec:
  selector:
    matchLabels:
      control-plane: gcppubsub-controller
  serviceName: gcppubsub-controller-service
  template:
    metadata:
      labels:
        control-plane: gcppubsub-controller
    spec:
      containers:
      - env:
        - name: ENABLE_GCPPUBSUB_SOURCE
          value: "true"
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /var/secrets/google/key.json
        - name: GCPPUBSUB_RA_IMAGE
          value: github.com/knative/eventing-sources/contrib/gcppubsub/cmd/receive_adapter
        image: github.com/knative/eventing-sources/contrib/gcppubsub/cmd/controller
        name: manager
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 20m
            memory: 20Mi
        volumeMounts:
        - mountPath: /var/secrets/google
          name: google-cloud-key
      serviceAccount: gcppubsub
      terminationGracePeriodSeconds: 10
      volumes:
      - name: google-cloud-key
        secret:
          secretName: gcppubsub-source-key
---
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: gcppubsub-bus-ext
  namespace: knative-sources
spec:
  hosts:
  - '*.googleapis.com'
  - accounts.google.com
  location: MESH_EXTERNAL
  ports:
  - name: https
    number: 443
    protocol: HTTPS
